*
{
	margin: 0;
    padding: 0;
}

header {
	background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(pic1.jpg);
	height: 100vh;
	background-size: cover;
	background-position: center;
}

.main-nav {
	float: right;
	list-style: none;
	margin-top: 30px;
}

.main-nav li {
	display: inline-block;
}

.main-nav li a {
	color: white;
	text-decoration: none;
	padding: 5px 20px;
    font-family: "Roboto", sans-serif;
    font-size: 15px;
}

.main-nav li.active a {
	border: 1px solid white;
}

.main-nav li a:hover {
	border: 1px solid white;
}

body {
	font-family: monospace;
}

.row {
	max-width: 1200px;
	margin: auto;
}

		.photo img {

			height: 300px;
			width: 300px;
			border-radius: 20%;
			margin-left: 450px;
			margin-top: 300px;
			margin-bottom: 300px;
			rotate: 90°, right;


		}
		
		.photo{

			position: absolute;
			top: 20px;
			left: 10px;
			width: 400px;	
			padding: 10px;
		

		}

		.infohead > p{

			
			font-family: times new roman;
			font-size: 50px;
			color: #fcc880;
			margin-top: 20px;
			margin-left: 450px;
			font-weight: bold;

		}

		.gmail p{
			
			font-size: 20px;
			color:white;
			font-weight:bolder;
			margin-left: 460px;
	



		}

		.about p{

			font-size: 20px;
			color:white;
			font-weight:bolder;
			margin-left: 430px;
		
}
		

.hero {
	position: absolute;
	width: 1500px;
	margin-left: 0px
	margin-top: 0px;
}

h1 {
	color: black;
	font-size: 60px;
	text-align: center;
	margin-top: 200px;
	font-family: "Arial Black", Gadget, sans-serif;
}
