*
{
	margin: 0;
    padding: 0;
}

header {
	background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(pic1.jpg);
	height: 100vh;
	background-size: cover;
	background-position: center;
}

.main-nav {
	float: right;
	list-style: none;
	margin-top: 30px;
}

.main-nav li {
	display: inline-block;
}

.main-nav li a {
	color: white;
	text-decoration: none;
	padding: 5px 20px;
    font-family: "Roboto", sans-serif;
    font-size: 15px;
}

.main-nav li.active a {
	border: 1px solid white;
}

.main-nav li a:hover {
	border: 1px solid white;
}

body {
	font-family: monospace;
}

.row {
	max-width: 1000px;
	margin: auto;
}

		.photo img {

			height: 300px;
			width: 300px;
			border-radius: 10%;
			margin-left: 450px;
			margin-top: 350px;
			margin-bottom: 20px;



		}
		
		.photo{

			position: absolute;
			top: 20px;
			left: 10px;
			width: 300px;	
			padding: 0px;
			
		

		}

		.infohead > h2{

			position: absolute;
			font-family: times new roman;
			font-size: 50px;
			color: #fcc880;
			margin-top: 10px;
			margin-left: 450px;
			font-weight: bold;
			text-align: center;

		}

		.gmail h2{
			position: absolute;
			font-size: 30px;
			color: #000000;
			font-weight:bolder;
			margin-left: 460px;
			text-align: center;
	



		}

		.about h2{
			
                        position: absolute;
			font-size: 30px;
			color:#000000;
			font-weight:bolder;
			margin-left: 430px;
			text-align: center;
		
}
		

		.objective h2{
                        position: absolute;
			font-size: 20px;
			color:#c3f6f7;
			font-weight:bolder;
			margin-top: 400px;
			margin-left: 550px;
					
			
		}

		
		.objective h3{
                        position: absolute;
			font-size: 20px;
			color:#efaac4;
			font-weight:bolder;
			margin-top: 50px;
			text-align: center;


.hero {
	position: absolute;
	width: 1000px;
	margin-left: 0px
	margin-top: 0px;
}

h1 {
	color: black;
	font-size: 60px;
	text-align: center;
	margin-top: 100px;
	font-family: "Arial Black", Gadget, sans-serif;
}
